<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>

    <%- include ('./partials/nav'); %>

<form action="" method="POST" class="formContainer" enctype="multipart/form-data">
    <div>
        <div id="create">
            <h2>Lag en guide</h2>

            <label for="">Tittel</label>
                <input type="text" name="Tittel" required>
            <label for="">Tag</label>
                <input type="text" name="Tag" required>
        </div>

        <div class="newSection">
            <h2>Seksjon</h2>

            <label for="">Overskrift</label>
                <input type="text" name="Overskrift" required>
            <label for="">Beskrivelse</label>
                <textarea name="Beskrivelse" rows="4" required></textarea>
            <label for="">Bilde</label>
                <input type="file" name="photo" id="photo" accept="image/*">
            </div>
        </div>
        <button class="send">Send</button>
        <button class="SectionButton" onclick="NySeksjon()">Lag ny seksjon</button>
    </form>
        

    <script>
        function NySeksjon() {
            event.preventDefault();

            let newSectionContainer = document.createElement('div');
            newSectionContainer.classList.add('newSection');

            newSectionContainer.innerHTML = `
                <h2>Seksjon</h2>
                <label for="">Overskrift</label>
                    <input type="text" name="Overskrift" required>
                <label for="">Beskrivelse</label>
                    <textarea name="Beskrivelse" rows="4" required></textarea>
                <label for="">Bilde</label>
                    <input type="file" name="photo" accept="image/*">
            `;

            document.querySelector('form div').appendChild(newSectionContainer);
        }
    </script>
    
</body>
</html>