<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    
    <%- include ('./partials/nav'); %>
    
    <h1>Virus.exe / Dashboard</h1>

    <div class="create">
        <button><a href="/create">Lag en guide</a></button>
    </div>

    

</body>
</html>