<!DOCTYPE html>
<html lang="en"></html>
<head>
    <%- include('./partials/head'); %>
</head>
<body>

    <%- include ('./partials/nav') %>

    <div class="navbar">
        <h2>Guide</h2>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
    </div>

    <div>
        <h1>1</h1>
    </div>

    <div>
        <h1>2</h1>
    </div>

    <div>
        <h1>3</h1>
    </div>

    <div>
        <h1>4</h1>
    </div>

    <div>
        <h1>5</h1>
    </div>
    
</body>
</html>