<!DOCTYPE html>
<html lang="en"></html>
<head>
    <%- include('./partials/head'); %>
</head>
<body>

    <%- include ('./partials/nav'); %>
    
    
    <div class="nav-side">
        <a href="/">Home</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">4</a>
        <a href="#">4</a>
        <a href="#">4</a>
        <a href="#">4</a>
        <a href="#">4</a>
    </div>
    
    
    <div class="main-content">
        <h1 class="guide-h1">Welcome to guides</h1>

        <h2>Tittel 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque maiores iure vel pariatur. Quisquam aperiam porro eos fugit illum vel? Maiores eius totam incidunt iure quae, obcaecati harum aperiam debitis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque maiores iure vel pariatur. Quisquam aperiam porro eos fugit illum vel? Maiores eius totam incidunt iure quae, obcaecati harum aperiam debitis?</p>

        <h2>Tittel 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit asperiores neque nobis ipsa ad eos quas sunt unde, accusamus qui ea velit at ut corrupti optio placeat culpa suscipit eaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit asperiores neque nobis ipsa ad eos quas sunt unde, accusamus qui ea velit at ut corrupti optio placeat culpa suscipit eaque.</p>

        <h2>Tittel 3</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, odio deserunt! Labore laboriosam, maiores quos debitis, optio id quo dolorem illo vero voluptatum at? Voluptatem sapiente nesciunt impedit id deleniti?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, odio deserunt! Labore laboriosam, maiores quos debitis, optio id quo dolorem illo vero voluptatum at? Voluptatem sapiente nesciunt impedit id deleniti?</p>

        <h2>Tittel 4</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, numquam. Saepe iste assumenda optio, quia esse sequi corporis dolore at sapiente, accusamus officiis pariatur tempore voluptatibus, facere nesciunt vel est.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, numquam. Saepe iste assumenda optio, quia esse sequi corporis dolore at sapiente, accusamus officiis pariatur tempore voluptatibus, facere nesciunt vel est.</p>

        <h2>Tittel 5</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, libero quis tempora quas incidunt voluptatibus deserunt fuga quia cupiditate aspernatur ipsum quod, inventore ut quos dignissimos quidem sapiente accusantium ipsa.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, libero quis tempora quas incidunt voluptatibus deserunt fuga quia cupiditate aspernatur ipsum quod, inventore ut quos dignissimos quidem sapiente accusantium ipsa.</p>

        <h2>Tittel 6</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae sit nisi magni nemo illo assumenda tenetur molestiae possimus maiores incidunt nobis repellat et sunt, tempore nostrum ea, ratione, officia voluptate?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae sit nisi magni nemo illo assumenda tenetur molestiae possimus maiores incidunt nobis repellat et sunt, tempore nostrum ea, ratione, officia voluptate?</p>

        <h2>Tittel 7</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ea quaerat quos ullam, rerum beatae officia molestias similique laborum. Quidem, laudantium cum molestiae neque natus eos suscipit ducimus nemo quas?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ea quaerat quos ullam, rerum beatae officia molestias similique laborum. Quidem, laudantium cum molestiae neque natus eos suscipit ducimus nemo quas?</p>

    </div>
    
</body>
</html>