<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>

    <%- include ('./partials/nav'); %>

    <h1>Home</h1>

    <div class="search-div">
        <input type="text" id="searchInput" placeholder="Search..." oninput="searchItems()">
        <button type="submit"></i></button>
    </div>

    <div class="info">
        <% if (guides.length > 0) { %>
            <% guides.forEach(guide => { %>
                <div class="box">
                    <a href="/guide/<%= guide._id %>"><%= guide.tittel %></a>
                </div>
            <% }); %>
        <% } else { %>
            <p>No guides available</p>
        <% } %>
    </div>
    

    <script>
        function searchItems() {
            // Get the search input value and convert it to lowercase
            const input = document.getElementById('searchInput').value.toLowerCase();
            
            // Create a regex to match items that start with the input, or have the input after a space
            const regex = new RegExp(`(^|\\s)${input}`);
            
            // Get all div elements inside the .info div
            const items = document.querySelectorAll('.info div');

            // Loop through all items and toggle their visibility based on the regex
            items.forEach(item => {
                const text = item.textContent.toLowerCase();
                
                if (regex.test(text)) {
                    item.style.display = ''; // Show item
                } else {
                    item.style.display = 'none'; // Hide item
                }
            });
        }
    </script>

</body>
</html>