<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    
    <%- include ('./partials/nav'); %>

    <h1>Register</h1>

    <form class="register" action="" method="POST">
        <label for="">
            <input type="text" placeholder="Username" name="username" id="username" required>
        </label>
        <label for="">
            <input type="email" placeholder="Email" name="email" id="email" required>
        </label>
        <label for="">
            <input type="password" placeholder="Password" name="password" id="password" required>
        </label>
        <label for="">
            <input type="password" placeholder="Repeat Password" name="Rpassword" id="Rpassword" required>
        </label>
        <label for="">
            <input type="submit" name="send" id="submit">
        </label>
    </form>

    <h3>Already have an account? <a href="/login">Log in here</a></h3>

</body>
</html>
