<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    
    <%- include ('./partials/nav'); %>

    <h1>Register</h1>

    <form class="register" action="" method="POST">
        <label for="">
            <input type="text" placeholder="Email" name="email" id="email">
        </label>
        <label for="">
            <input type="text" placeholder="Password" name="password" id="password">
        </label>
        <label for="">
            <input type="text" placeholder="Repeat Passoword" name="Rpassword" id="Rpassword">
        </label>
        <label for="">
            <input type="submit" name="send" id="submit">
        </label>
    </form>

    <h3>Already have an account? <a href="/login">Log in here</a></h3>

</body>
</html>