body {
    background-color: black;
    font-family: arial, sans-serif;
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}

/* Index */

h1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: white;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333; 
    z-index: 2; 
}

nav ul {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    list-style: none; 
    color: white;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: white;
}

li {
    padding: 20px 30px; 
}

li:first-child {
    flex-grow: 2;
    padding: 10px 30px; 
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 10%; 
}

.box {
    color: white;
    border: 5px solid cyan;
    border-radius: 15px;
    flex-basis: 20%;
    min-width: 150px;
    box-sizing: border-box;
    text-align: center;
    padding: 80px;
    margin-right: 5%;
    margin-top: 25px;
}

/* Guide */

.nav-side {
    display: grid;
    grid-template-rows: auto;
    align-content: space-evenly;
    width: 250px; 
    background-color: #333; 
    color: white;
    padding: 10px;
    gap: 5px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -170px;  
    transition: left 0.3s ease;
    z-index: 1;
}

.nav-side:hover {
    left: 0; 
}

.nav-side a {
    text-align: center;
    color: white;
    padding: 4.5rem 1rem;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.nav-side a:hover {
    background-color: #575757;
    border-radius: 5px;
}