:root {
    --background-color: #000000; 
    --text-color: #f2f2f2; 
    --nav-background-color: #1a1a1a; 
    --nav-hover-background-color: #b71c1c; 
    --border-color: #d32f2f;
    --border-highlight-color: #e57373; 
    --input-background-color: #262626; 
    --icon-color: #e53935; 
    --button-background-color: #b71c1c; 
    --button-hover-background-color: #d32f2f; 
    --navbar-height: 60px;
    --button-border-radius: 0; 
    --button-shadow: 0 4px 10px rgba(211, 47, 47, 0.3); 
    --button-hover-shadow: 0 8px 20px rgba(211, 47, 47, 0.5); 
}

body {
    background-color: var(--background-color);
    font-family: arial, sans-serif;
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    color: var(--text-color);
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

h3 a {
    text-decoration: none;
    color: cyan;
    margin-left: 1rem;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-height); 
    background-color: var(--nav-background-color); 
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    list-style: none; 
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

li a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    padding: 20px 30px; 
}

li:first-child {
    flex-grow: 2;
    padding: 10px 30px; 
}

.logo {
    width: 6rem;
}

.info {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1rem; 
    padding: 1rem; 
}

.box {
    text-align: center;
    padding: 2rem; 
}

.link {
    padding: 2rem 4rem; 
    font-size: 17px;
    color: var(--text-color);
    text-decoration: none; 
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.2); 
    transition: background-color 0.3s, transform 0.3s; 
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.5); 
    transform: scale(1.05); 
}

.box:hover {
    border-color: var(--border-highlight-color); 
}

.search-div {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.search-div input {
    border: var(--text-color) solid 2px;
    border-radius: 5px;
    margin-top: 5rem;
    width: 15%;
    padding: 6px 10px;
    background: var(--input-background-color);
    font-size: 17px;
    color: white;
}

.search-div button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -40px;
    margin-top: 5rem;
}

.search-div button i {
    font-size: 18px;
    color: var(--icon-color);
}

/* Guide */

.uploads {
    margin: 0 auto;
    max-width: 90%;
}

.action-buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

.delete-button {
    margin-top: 1rem;
    padding: 12px;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    box-shadow: var(--button-shadow);
}

.nav-side {
    display: grid;
    grid-template-rows: auto;
    align-content: flex-start;
    width: 250px; 
    background-color: var(--nav-background-color); 
    color: var(--text-color);
    padding: 10px;
    position: fixed;
    top: var(--navbar-height); 
    height: calc(100vh - var(--navbar-height)); 
    left: -170px;  
    transition: left 0.3s ease;
    z-index: 1;
    overflow-y: auto;
    scrollbar-width: none;
}

.nav-side:hover ~ .main-content {
    margin-left: 280px;
}

.nav-side:hover {
    left: 0; 
}

.nav-side a {
    text-align: center;
    color: var(--text-color);
    padding: 2.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
    display: block;
    font-size: 14px;
    border: solid 2px var(--border-color);
    border-radius: 5px;
}

.nav-side a:hover {
    background-color: var(--nav-hover-background-color);
    border-radius: 5px;
}

.main-content {
    display: grid;
    align-items: baseline;
    padding: 20px;
    height: calc(100vh - var(--navbar-height));
    transition: margin-left 0.3s ease;
    padding-top: calc(var(--navbar-height));
}

.main-info h1 {
    margin-top: 3rem;
}

.main-info h3 {
    padding: 1rem 1rem;
}

.guide-h1 {
    margin-top: 3rem;
    margin-bottom: -1rem;
}

h2 {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

/* Register */

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--input-background-color);
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    margin: 50px auto;
}

.register input[type="text"],
.register input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--input-background-color);
    color: var(--text-color);
    font-size: 16px;
}

.register input[type="text"]:focus,
.register input[type="password"]:focus {
    border-color: var(--border-highlight-color);
    outline: none;
}

.register input[type="submit"] {
    margin-top: 1rem;
    padding: 12px;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    box-shadow: var(--button-shadow);
}

.register input[type="submit"]:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: var(--button-hover-shadow);
}

/* Login */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--input-background-color);
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    margin: 50px auto;
}

.login input[type="text"],
.login input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--input-background-color);
    color: var(--text-color);
    font-size: 16px;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
    border-color: var(--border-highlight-color);
    outline: none;
}

.login input[type="submit"] {
    margin-top: 1rem;
    padding: 12px;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    box-shadow: var(--button-shadow);
}

.login input[type="submit"]:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: var(--button-hover-shadow);
}

/* Register */

.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--input-background-color);
    color: var(--text-color);
    font-size: 16px;
}

.register input[type="text"]:focus,
.register input[type="email"]:focus,
.register input[type="password"]:focus {
    border-color: var(--border-highlight-color);
    outline: none;
}

.register input[type="submit"] {
    margin-top: 1rem;
    padding: 12px;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    box-shadow: var(--button-shadow);
}

.register input[type="submit"]:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: var(--button-hover-shadow);
}

/* Edit */

.edit-button {
    margin-top: 1rem;
    padding: 12px;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    box-shadow: var(--button-shadow);
    text-decoration: none;
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    font-size: 1.8rem;
    width: 100%;
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background-color: var(--input-background-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.deleteSection {
    min-width: 50%;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border-radius: var(--button-border-radius);
    border: 2px solid var(--border-color);
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    font-size: 1.8rem;
    width: 100%;
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background-color: var(--input-background-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    font-size: 1.8rem;
    width: 100%;
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background-color: var(--input-background-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#end button{
    font-size: 20px;
}


.edit button {
    font-size: 100px;
    border-radius: 20px;
}

.edit a {
    text-decoration: none;
    color: var(--background-color);
    cursor: text;
}


.edit label {
    color: var(--text-color);
    font-size: 1.1rem; /* Using rem for consistency */
    margin-top: 1rem;
    width: 107%;
    text-align: left;
}

.edit h2 {
    margin-top: 0;
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem; /* Adjusting heading size */
}

.edit input {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid var(--border-color);
    background-color: var(--input-background-color);
    color: var(--text-color);
}

.edit input:focus {
    border-color: var(--border-highlight-color);
    outline: none;
}

.edit textarea {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    min-width: 100%; 
    border-radius: 0.5rem;
    border: 2px solid var(--border-color);
    background-color: var(--input-background-color);
    color: var(--text-color);
    resize: none;
    line-height: 1.5rem;
}

.edit textarea:focus {
    border-color: var(--border-highlight-color);
    outline: none;
}

.edit textarea::-webkit-scrollbar {
    display: none;
}

.file-input-container {
    width: 107%; /* Ensure it takes the full width */
    margin-top: 0.5rem; /* Align with other elements */
    margin-bottom: 2rem;
}

.file-label {
    padding: 10px 20px;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.file-input {
    display: none; /* Keep the default file input hidden */
}

.file-label.selected {
    background-color: var(--button-hover-background-color); /* Change color if file is 'selected' */
}


/* Dashboard */

.guide-card {
    width: 100%;
    max-width: 300px;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    border: 5px solid var(--border-color);
    box-shadow: 0 4px 15px white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .guide-card h2 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
  }
  .guide-card-actions {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  .guide-card button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0;
  }
  .view-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  .edit-button {
    background-color: #2196F3;
    color: white;
    margin-top: 0;
    padding: 0.5rem 1rem;
  }
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  .guide-card button:hover {
    opacity: 0.8;
  }

  /* aswesfdrsgeddfrhg */

  .info {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1rem; 
    padding: 1rem; 
}

.box {
    text-align: center;
    padding: 2rem; 
}

.link {
    padding: 2rem 3rem; 
    font-size: 17px;
    color: var(--text-color);
    text-decoration: none; 
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.2); 
    transition: background-color 0.3s, transform 0.3s; 
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.5); 
    transform: scale(1.05); 
}

.box:hover {
    border-color: var(--border-highlight-color); 
}

.search-div {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.search-div input {
    border: var(--text-color) solid 2px;
    border-radius: 5px;
    margin-top: 5rem;
    width: 15%;
    padding: 6px 10px;
    background: var(--input-background-color);
    font-size: 17px;
    color: white;
}

.search-div button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -40px;
    margin-top: 5rem;
}

.search-div button i {
    font-size: 18px;
    color: var(--icon-color);
}

/* Create */

.create {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create button {
    font-size: 100px;
    border-radius: 20px;
}

.create a {
    text-decoration: none;
    color: var(--background-color);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    font-size: 1.8rem; /* Using rem for font size */
    width: 100%;
    max-width: 800px; /* Limiting the maximum width */
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background-color: var(--input-background-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#create label {
    color: var(--text-color);
    font-size: 1.1rem; /* Using rem for consistency */
    margin-top: 1rem;
    width: 100%;
    text-align: left;
}

#create h2 {
    margin-top: 0;
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem; /* Adjusting heading size */
}

#create input {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid var(--border-color);
    background-color: var(--input-background-color);
    color: var(--text-color);
}

#create input:focus {
    border-color: var(--border-highlight-color);
    outline: none;
}

.newSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem; /* Using rem */
    color: var(--text-color);
    width: 100%;
    margin-top: 3rem;
    padding: 2rem;
    background-color: var(--input-background-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.newSection input {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid var(--border-color);
    background-color: var(--input-background-color);
    color: var(--text-color);
}

.newSection input:focus {
    border-color: var(--border-highlight-color);
    outline: none;
}

.newSection textarea {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    min-width: 100%; 
    border-radius: 0.5rem;
    border: 2px solid var(--border-color);
    background-color: var(--input-background-color);
    color: var(--text-color);
    resize: none;
    line-height: 1.5rem;
}

.newSection textarea:focus {
    border-color: var(--border-highlight-color);
    outline: none;
}

.newSection textarea::-webkit-scrollbar {
    display: none;
}

.newSection label {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    width: 107%;
}

.newSection h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
}

.SectionButton {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.SectionButton:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: var(--button-hover-shadow);
}